.movie__card{
    padding: 0;
    width: 400px;
    height: 280px;
    border-radius: 10px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.movie__card:hover{
    transform: scale(1.01);
}

.movie_card_img{
   height: 200px;
   width: 400px;
   overflow: hidden;
   object-position: center;
}

.movie_card_img img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__main{
    padding: 5px;
}

.card__top{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
}

.card__top i{
    margin: 0;
    color: #fff;
}

.card__top p{
    color: #fff;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.movie__title{
    color: #fff;
    margin: 0;
    font-size: 24px;
}

@media (max-width: 768px){
    .movie__card{
        padding: 0;
        width: 300px;
        height: 280px;
    }
    
    .movie_card_img{
        height: 200px;
        width: 300px;
     }
    
    .card__top p{
        font-size: 12px;
    }
 
    .movie__title{
        font-size: 20px;
    }
}